---
layout: default
---

<div class="home">

  <h1 class="page-heading">Projects</h1>

  {{ content }}

  <ul class="post-list">
    {% for project in site.projects %}
      <li>
        <h2>
          {% if project.link %}
          <a class="post-link" href="{{ project.link }}" target="_blank">{{ project.title | escape }}</a>
          {% else %}
          {{ project.title | escape }}
          {% endif %}
        </h2>
        {{ project.content | markdownify }}
      </li>
    {% endfor %}
  </ul>

</div>
